# IDE and system files
.DS_Store
.Rhistory
.RData
.Ruserdata
.lsarc.json

# Quarto and R build artifacts
.quarto/
**/*.quarto_ipynb
*_cache/
*_files/
*.log
*.aux
*.out


# renv specific
# Keep the lockfile and activation scripts, but ignore the library itself
renv/library/
renv/python/
renv/staging/
!renv/activate.R
!renv/settings.json
